
body{
    background-color: bisque;
}
.container h1, h2{
    font-family: "Pacifico", cursive !important; 
    font-size: 30px !important;
    font-weight: bold !important;
    
}

.container label{
    font-weight: bold;
    font-size: 20px;
}